body {
    font-family: "Raleway", sans-serif;
    background-color: #fafbfc;
    }
.blue-navbar {
  background-color: #0b294bff;
}

  /* Hero Section */
  
  #Hero-Section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

.text-grey{
  color:#fafbfc;
}
  
  /* Mis trabajos */
  
  #Mis-trabajos {
    background-color:#0b294bff;
    background-repeat: no-repeat;
    background-position: center;
  }

   /* Mi Portafolio */
  
.carousel {
    align-content: center;
  }

.carousel_title{
  color: aliceblue;
  background-color: #0b294bff;
} 
  
/* Contacto */
  
  #Contacto form label {
    font-weight: 800;
    color: #373a3c;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 500;
    }
  
    .navbar-brand{
      width: 120px;
    }

/* Footer */

.blue-bg{
  background-color: #0b294bff;
}

}
